input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/****************body bg color*******************/
.body-bg{
    background-color: #f9f9f9 !important;
}
.bg-white{
    background-color: #fff !important;
}
.border-light {
    border-color: #e9e9e9!important;
}
.bg-transparent{
    background-color: transparent !important;
}
.bg-primary{
    background-color: #a6ce39!important;
}
.bg-gray{
    background-color:#e9ecef!important;
}
.jumbotron{
    background-color: #f9f9f9;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
 .show>.btn-outline-primary.dropdown-toggle:focus,
 .btn-outline-primary.focus, .btn-outline-primary:focus{
     box-shadow:none;
 }
 .error {
    color: #af3116;
    font-size: 0.8rem;
    text-align: left;
}
.error:before{
    content:"\f071";
    font-size: 12px;
    margin-right: 4px;
    font-family: "fontAwesome";
    display: inline-block;
}

.error-input{
  border-color: #af3116 !important;
}

label.error{
    position: absolute;
    left:0;
}
.home-page label.error{
  left: 0;
  margin-top: 7px;
  display: block;
  position: relative;
}
.form-group{
    position: relative;

}
.pb-2rem{
    padding-bottom: 2rem;
}

/****************body bg color end*******************/

/*****************exit intent popup******************/
.lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.box {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
}



/****************custom input type file**************/

select {
    width: 100%;
    height: 40px;
    padding: 6px 45px 6px 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/down-arrow.jpg") no-repeat scroll 0 0 transparent;
    text-indent: 0.01px;
    text-overflow: "";
  }
  .img-box{
    padding-left: 4rem;
  }
  .img-box img{
    max-width: 3rem;
    position: absolute;
    left: 20px;
  }
  .form-group{
      position: relative;
  }
  .select-arrow {
    position: absolute;
    top: 18px;
    right: 0;
    padding: 8px 15px;
    pointer-events: none;
  }
  .arrow-down {
    width: 22px;
    height: 20px;
    background: url(../img/down-arrow.png) no-repeat scroll 0 0 transparent;
    display: block;
}
.input-file {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%!important;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
    z-index: 99;
  }
  .file-padding.jumbotron{
        padding: 4rem 1rem;
    }
  .input-file-trigger img{
      margin-bottom:10px;
  }
  .input-file-trigger span.small-text{
        min-height: 40px;
    }
  .input-file-trigger{
      width:100%;
  }

 .file-return {
    font-size: .9rem;
    margin:0;
  }
 .file-return:not(:empty):before {
    content: "";
    background: url(../img/successful.png)no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 100% auto;
    position: relative;
    top: 4px;
    left: -4px;
  }
  .file-return:not(:empty):after {
    content: " Uploaded";
  }
  .jumbotron {
        padding: 4rem 1rem;
    }
    .help-btn img {
        margin-right: 5px;
    }
/*************typography css start*******************/
.navbar{
    display: none;
}
.large-text{
    font-size: 1.2rem;
}
.small-text{
    font-size: 0.85rem;
}
.text{
    font-size: 1rem;
}
.mb-21 {
    margin-bottom: 2rem;
    margin-top: 1.3rem!important;
}
.card-shadow.card-strip{
    border-radius: 5px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #a6ce39!important;
}
.text-light{
    color: #525252!important;
}
.text-xlight{
    color: #757575!important;
}
.text-secondary{
    color:#535353!important;
}
.text-blue{
    color: #256782!important;
}
.text-gray{
    color: #6d6e70 !important;
}
.text-dark{
    color:#565656!important;
}
.text-secondary.active{
    color:#292d2f!important;
}
.click-link{
    display:block;
    color:#565656;
}
.click-link i{
    font-size: 20px;
}
.click-link:hover, .click-link:active,.click-link:focus{
    color: #a6ce39;
    border:1px solid #a6ce39;
    background-color: #f8fce5;
    text-decoration: none;
}
.cat-cards.card {
    border-radius: 5px;
    overflow: hidden;
    border:0;
}
.card-wrapper .card{
    border:0;
}
.card-shadow{
    border-radius:15px;
    overflow: hidden;
    box-shadow:0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.06);
    -webkit-box-shadow:0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.06);
}
.home-page .card-shadow{
    box-shadow:0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.07);
    -webkit-box-shadow:0 3px 6px rgba(0,0,0,0.01), 0 3px 38px rgba(0,0,0,0.07);
}
.card-strip:before {
    content: "";
    background:#a6ce39;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
/*************typography css end*******************/

/****************height width css*******************/
.h-100{
    height: 100%;
}
.h-100vh{
    min-height:100vh;
}
.modal-dialog{
    max-width:800px;
}
.modal-header .close {
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0!important;
    z-index: 1;
    font-size: 2.3rem;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{
    opacity: 1;
    background-color: #a6ce39!important;
    color: #fff;
}
a.text-primary:focus, a.text-primary:hover{
    background-color: #a6ce39!important;
    color:#fff!important;
}
p.text-primary {
    font-weight: 600;
}
/****************height width css end*******************/



/****************border css end*******************/

.border-primary {
    border-color: #a6ce39!important;
}
.border-radius-20 {
    border-radius: 20px;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #696969 !important;
    background-color: transparent;
    border-color: transparent !important;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.border-dashed{
    border:1px dashed #b7b2b2;
}
.modal-content{
    border-radius: 20px;
}
.circle{
    border-radius: 50%;
}
.option{
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
}
.option.or-text{
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 0;
    padding-bottom: 0;
}
.option:after{
    content:"";
    height:30px;
    width:2px;
    position: absolute;
    margin:0 auto;
    left:0;
    right:0;
    bottom:0;
    background-color:#b7b2b2;
}
.option:before{
    content:"";
    height:30px;
    width:2px;
    position: absolute;
    margin:0 auto;
    left:0;
    right:0;
    top:0;
    background-color:#b7b2b2;
}
.option.or-text:before,.option.or-text:after{
    height:1px;
    width:60px;
    top:10px;
    bottom:auto;
}
.option.or-text:before{
    left:0;
    right:auto;
}
.option.or-text:after{
    left:auto;
    right:0;
}

/****************border css end*******************/


/**************custom radio card type**************/
.cat-cards input{
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    width: 100%;
    margin: 0;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}
.cat-cards .radio label {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    font-weight: 600;
}
.cat-cards .radio {
    margin: 0;
    position: relative;
    padding: 0.5rem;
}
.cat-cards .radio input[type="radio"] + .radio-label:before {
    content: '';
    background: transparent;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* margin-right: 1em; */
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    left: 0;
    right: 0;
}
.cat-cards .radio input[type="radio"]:checked +  .radio-label:before {
    border:1px solid #a6ce39;
    background-color: #a6ce3982;
}
/****************button css*******************/
button{
    font-weight:600;
}
.close{
    opacity: 1;
}
.btn.help-btn.btn-light{
    line-height: 2;
    font-size: 1rem;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    color: #a6ce39!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    height: auto!important;
    font-weight:600;
    box-shadow: 0 3px 1px 0px rgba(216, 149, 149, 0.01), 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn-outline-primary {
    color: #a6ce39;
    border-color: #a6ce39;
    border-radius: 20px;
}
.help-btn:hover {
    background-color: #fff;
    border-color: #a6ce39;
    color:#a6ce39;
}
button.record-btn{
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.1rem;
}
.btn-outline-primary:hover {
    background-color: #a6ce39!important;
    border-color: #a6ce39!important;
    color:#fff!important;
}
.btn-primary{
    background-color:#a6ce39;
    border:1px solid #a6ce39;
    padding:5px 20px;
    border-radius: 20px;
    box-shadow:0 3px 7px 1px #d8d6d6;
    -webkit-box-shadow:0 3px 7px 1px #d8d6d6;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.btn-secondary{
    background-color:#ebebeb;
    border:1px solid #ebebeb;
    padding:5px 20px;
    border-radius: 20px;
    box-shadow: 0 3px 7px 1px #d8d6d6;
    -webkit-box-shadow:0 3px 7px 1px #d8d6d6;
    color:#5d5d5d;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.btn-primary.focus, button:focus {
    box-shadow: none;
    outline: none;
}

/****************button css end*******************/


/****************switch field*****************/
.switch-field {
    display: block;
    margin-bottom: 36px;
    overflow: hidden;
    width: 12rem;
    border: 1px solid #a6ce39;
    border-radius: 20px;
    position: relative;
}
.switch-field input {
    position: absolute !important;
  	clip: rect(0, 0, 0, 0);
  	height: 1px;
  	width: 1px;
  	border: 0;
  	overflow: hidden;
}
.switch-field label {
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 10px 16px;
	width:50%;
    transition: all 0.1s ease-in-out;
    margin-bottom: 0;
    text-transform: capitalize;
    float: left;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a6ce39;
    box-shadow: none;
    color: #fff;
}

/***************toggle switch css******************/
.mt-ve{
    margin-top:-10px;
}
.toogle-switcher {
    height: 34px;
    position: relative;
    width:7rem;
    overflow: hidden;
}
.toggle-custom-width{
    width: 12rem;
}
.toogle-switcher .toggle-label input[type=checkbox] ,
.toogle-switcher .toggle-label input[type=radio]{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
    cursor: pointer;
}
.toogle-switcher .toggle-label input[type=checkbox] + .back {
    position: absolute;
    top:0;
    width: 100%;
    height: 34px;
    color:#535353;
    transition: background 150ms linear;
    border-radius: 20px;
    overflow: hidden;
}
.toogle-switcher .toggle-label input[type=checkbox] + .back .toggle {
    display: block;
    position: absolute;
    content: ' ';
    background: #a6ce39;
    width: 50%;
    height: 100%;
    left:50%;
    transition: margin 150ms linear;
}
.toogle-switcher .toggle-label input[type=checkbox]:checked + .back .toggle {
    left: 0;
}
.toogle-switcher .toggle-label input[type=checkbox]:checked + .back .label.on {
    color:#535353;
}
.toogle-switcher .toggle-label input[type=checkbox] + .back .label.off {
    color:#535353;
}
.toogle-switcher .toggle-label input[type=checkbox]:checked + .back .label.off {
    color: white;
}
.toogle-switcher .toggle-label .label {
    display: block;
    position: absolute;
    width: 50%;
    line-height: 2.4;
    color: white;
    text-align: center;
}
.toogle-switcher .toggle-label .label.on {
    right: 0px;
}
.toogle-switcher .toggle-label .label.off {
    left: 0px;
}
.form-control:focus{
    box-shadow: none;
}
/***************toggle switch end******************/

/****************custom radio css  start***********/
.radio {
    margin: 0.5rem;
    padding: 4px;
}
.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 0;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #a6ce39;
    box-shadow: inset 0 0 0 4px #fff;
    border: 1px solid #a6ce39;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #fff;
}
.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}
.radio label{
    margin-bottom: 0;
}
.radio-label{
    font-size: 14px;
}

/****************custom radio css end**************/

/***************form element start******************/
.form-control{
    font-size: 1rem;

     padding: 10px 13px;
    height: 62px;
    border: 1px solid #8c8c8c;
    color: #a6a5ac;
}

/***************form element end******************/

/***************step progress start******************/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    text-transform: capitalize;
    font-size: 0;
    position: relative;
    font-weight: 600;
}
#progressbar li h4{
    font-weight:600;
    font-size: 16px;
}
#progressbar li:not(.active) h4, #progressbar li:not(.active) i{
    font-size: 0;
}
#progressbar li:before {
	content: counter(step);
    counter-increment: step;
    width: 35px;
    line-height: 35px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #535353;
    background: white;
    border-radius: 50%;
    box-shadow: 0 3px 7px 1px #eee;
    -webkit-box-shadow: 0 3px 7px 1px #eee;
    height: 35px;
}
/*progressbar connectors*/
#progressbar li.active:after,#progressbar li.done:after{
	content: '';
	width: 40%;
	height: 5px;
	background: #a6ce39;
	position: absolute;
	left: -1.5rem;
	bottom:0;
}
#progressbar li:last-child:after{
    width: 103%;
}
#progressbar li.done:after {
    width:100%;
    left:-1.5rem;
}
 .all-done:after{
    content:"";
    background: #a6ce39;
    color: white;
    height: 5px;
    position: absolute;
    left: 15px;
    right:0;
    width:97.5%;
    bottom: 0;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,#progressbar li.done:before{
	background: #a6ce39;
	color: white;
}
#progressbar li.done:before{
    content:"";
    background: url(../img/tick-white.png)no-repeat #a6ce39 center center;
}
#progressbar li{
    flex-grow: 0.5;
}
#progressbar  li.active {
    flex-grow: 10;
    font-size: 1rem;
}

.success-title{
    padding-left: 6rem
}
.success-title:before {
    content: "";
    background: url(../img/tick.png)no-repeat;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 0;
    top: -5px;
    background-size: 100% auto;
    display: none;
}
/******************step progress end*****************/


/******************img css***********************/
.help-img{
    max-width:10rem;
}

.img-30{
    max-width: 60px;
    position: absolute;
    left: 0;
    top: -9px;
}
.mt-minus {
    margin-top: -7px;
    padding-left: 40px!important;
}
.card-body h1{
    font-size: 2rem;
    position: relative;
    padding-left: 4.5rem;
}

/*******************input box material design*****************/
.pure-material-textfield-outlined {
    --pure-material-safari-helper1:#a6ce39;
    position: relative;
    display: block;
    padding-top: 6px;
    line-height: 2.5;
    overflow: hidden;
}

/* Input, Textarea */
.pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > textarea {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px; /* Safari */
    border-color: #8c8c8c;
    border-top-color: transparent;
    border-radius: 4px;
    padding: 10px 13px;
    width: 100%;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transition: border 0.2s, box-shadow 0.2s;
}
.pure-material-textfield-outlined > input.error,
.pure-material-textfield-outlined > textarea.error,
.pure-material-textfield-outlined > input.error:focus,
.pure-material-textfield-outlined > textarea.error:focus{
    border-color: #af3116;
}

/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    width: 100%;
    max-height: 100%;
    color:#a9a9a9;
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined > input + span:before,
.pure-material-textfield-outlined > input + span:after,
.pure-material-textfield-outlined > textarea + span:before,
.pure-material-textfield-outlined > textarea + span:after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    border-top: solid 1px;
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    min-width: 10px;
    height: 8px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined > input + span:before,
.pure-material-textfield-outlined > textarea + span:before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.pure-material-textfield-outlined > input + span:after,
.pure-material-textfield-outlined > textarea + span:after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius:0;
}

/* Hover */
.pure-material-textfield-outlined:hover > input,
.pure-material-textfield-outlined:hover > textarea {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    border-top-color: transparent;
}

.pure-material-textfield-outlined:hover > input + span:before,
.pure-material-textfield-outlined:hover > textarea + span:before,
.pure-material-textfield-outlined:hover > input + span:after,
.pure-material-textfield-outlined:hover > textarea + span:after {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
    border-color: #8c8c8c;
}

.pure-material-textfield-outlined:hover > input.error:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover > textarea.error:not(:focus):placeholder-shown {
    border-color: #af3116;
}

/* Placeholder-shown */
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
    border-top-color: #8c8c8c;
}
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown::-webkit-input-placeholder { /* Edge */
    color: #ff;
  }

  .pure-material-textfield-outlined > input:not(:focus):placeholder-shown:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }

  .pure-material-textfield-outlined > input:not(:focus):placeholder-shown::placeholder {
    color: #fff;
  }

.pure-material-textfield-outlined > input.error:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea.error:not(:focus):placeholder-shown{
    border-top-color: #af3116;
}
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 75px;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
    border-top-color: transparent;
}
.pure-material-textfield-outlined > input.error:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea.error:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input.error:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea.error:not(:focus):placeholder-shown + span::after{
    border-top-color: #af3116;
}
/* Focus */
.pure-material-textfield-outlined > input:focus,
.pure-material-textfield-outlined > textarea:focus {
    border-color:  #a6ce39;
    border-top-color:#a6ce39;
   /* box-shadow: inset 1px 0 #a6ce39, inset -1px 0 #a6ce39,
                inset 0 -1px #a6ce39;*/
    outline: none;
    box-shadow:none;
}

.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
    color: #a6ce39;
    background-color: #fff;
}
.pure-material-textfield-outlined > input.error:focus + span,
.pure-material-textfield-outlined > textarea.error:focus + span{
    color:#af3116;
}
.pure-material-textfield-outlined > input:focus + span::before,
.pure-material-textfield-outlined > input:focus + span::after,
.pure-material-textfield-outlined > textarea:focus + span::before,
.pure-material-textfield-outlined > textarea:focus + span::after
 {
    border-top-color:  #a6ce39 !important;
    /*box-shadow: inset 0 1px var(--pure-material-safari-helper1);*/
}
.pure-material-textfield-outlined > input.error:focus + span::before,
.pure-material-textfield-outlined > input.error:focus + span::after,
.pure-material-textfield-outlined > textarea.error:focus + span::before,
.pure-material-textfield-outlined > textarea.error:focus + span::after{
    border-top-color:  #af3116 !important;
}
.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
 left:7px;
 width:90%;
}
.pure-material-textfield-outlined > input:focus + span:before,
.pure-material-textfield-outlined > textarea:focus + span:before {
 left:-3px;
 position:relative;
}
/* Disabled */
.pure-material-textfield-outlined > input:disabled,
.pure-material-textfield-outlined > input:disabled + span,
.pure-material-textfield-outlined > textarea:disabled,
.pure-material-textfield-outlined > textarea:disabled + span {
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
    border-top-color: transparent !important;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    pointer-events: none;
}

.pure-material-textfield-outlined > input:disabled + span::before,
.pure-material-textfield-outlined > input:disabled + span::after,
.pure-material-textfield-outlined > textarea:disabled + span::before,
.pure-material-textfield-outlined > textarea:disabled + span::after {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
    border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
    border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .pure-material-textfield-outlined > input,
        .pure-material-textfield-outlined > input + span,
        .pure-material-textfield-outlined > textarea,
        .pure-material-textfield-outlined > textarea + span,
        .pure-material-textfield-outlined > input + span::before,
        .pure-material-textfield-outlined > input + span::after,
        .pure-material-textfield-outlined > textarea + span::before,
        .pure-material-textfield-outlined > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}
/*******************input box material design*****************/

/*******************button by material design******************/

.btn-primary:hover {
    color: #fff;
    background-color: #a6ce39;
    border-color: #a6ce39;
}
.btn-light{
    background-color: #fff!important;
    color:#535353!important;
    border-radius:20px;
}
.pure-material-button-contained,.btn-light {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    padding: 0 16px;
    min-width: 64px;
    height: 42px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: #a6ce39;
    box-shadow: 0 3px 1px -2px rgba(216, 149, 149, 0.01), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}
/*******************button by material design******************/


/********************submission done*********************/
.submission-done-page #progressbar li{
    flex-grow: 0;
    padding-left:5px!important;
    padding-right:5px!important;
}

label#radio-error {
    bottom: -3px;
    position: absolute;
    width: 100%;
    left: 15px;
}
/********************footer*********************/
.card-footer i {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    display: inline-block;
    vertical-align: top;
}
.home-page .btn{
    font-weight: 600!important;
}
.first-card{
    padding-top: 4.6rem;
}
.section ul li{
    color:#535353!important;
}

.home-page .h2,.home-page h2 {
    font-size: 2.5rem;
}

/*****************media query for mobile devices*********/

@media only screen and (max-width:767px){
  .banner-image, .video-carousel iframe{
    width: 100%;
  }
  .section .video-block{
    position: relative;
    right: 0;
    top: 2rem;
    height: 15rem;
  }
  .banner-ul li p{
    margin: 0 12px 0 3px !important;
  }
  .banner-ul li >.price {
    font-size: 28px !important;
    margin: 0 0 0 5px !important;
  }
    #progressbar li h4{
        font-size: 0;
        display: none!important;
    }
    #progressbar li.active,#progressbar li{
        flex-grow:1;
    }
    .submission-done-page #progressbar li {
        flex-grow: 1;
    }
    .about-img-block{
        order: 2;
        -webkit-order: 2;
    }
    .select-arrow{
        top:21px;
    }
    .w-50{
        width:100%!important;
    }
    .card-wrapper{
        display:block!important;
    }
    .mb-21 {
        margin-bottom: 0;
        margin-top: 0!important;
    }
    footer .row{
        display: block;
        text-align:center;
    }
    .navbar-brand img{
        max-width: 160px;
    }
    .help-img {
        max-width: 3rem;
    }
    .modal-body {
        overflow-y: scroll;
        height: 90vh;
    }
    .modal{
        top:30px;
    }
    #progressbar li.active:after, #progressbar li.done:after{
        width:50%;
    }
    #progressbar li:last-child:after{
        width: 100%;
        left:0;
    }
    #progressbar li.done:after{
        width:100%;
        left:0;
    }
    #progressbar{
        padding: 0;
    }
    .btn.help-btn.btn-light{
        font-size: 0;
        box-shadow: none;
        text-align: right;
        min-width: auto;
        padding: 0!important;
    }

    .mt-minus {
        margin-top: 0;
        margin-left: 0;
    }
    .toggle-custom-width{
        width:10rem;
        margin-bottom: 30px;
    }
    .card-body h1{
        padding-left: 4.5rem;
    }
    .img-30{
        top: 0;
        max-width: 3rem;
        margin-top: 0!important;
    }
    .card-body h1{
        font-size: 0.9rem;
        padding-left: 4rem;
        min-height: 36px;
    }
    .card-body h5{
        font-size: 16px;
    }
    #progressbar li {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    .h-100vh{
        padding-top: 20px;
        padding-bottom: 100px;
    }
    .card-footer.py-4.bg-white.border-top {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    label{
        font-size: 0.8rem;
    }
    .pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
    .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span{
        line-height: 64px;
    }
}
/*****************media query for small mobile devices*********/

@media only screen and (max-width:360px){

    #progressbar li.active,.card-header h4{
        font-size: 0;
    }
    #progressbar li.active:after, #progressbar li.done:after {
        width: 100%;
        left: 0;
    }
    #progressbar{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .card-body h5{
        font-size: 14px;
    }
    .small-text {
        font-size: 0.7rem;
    }
    .text {
        font-size: 0.8rem;
    }
}
.video-inner-block1:before{
    /* content: "\f04b"; */
    font-family: 'fontawesome';
    top: 36%;
    position: absolute;
    background: #fff;
    color:#a6ce39;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    z-index: 99;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%,20%);
    font-size: 1.8rem;
}
.video-inner-block1{
    height: 260px;
    margin-top: 4rem;
}


.video-inner-block1:after {
    content: "";
    background: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
}


/*******************************************home page css********************************/


/****************header css start***************/

.nav-link:not(.btn){
    color:#535353;
}
.nav-link:hover{
    color:#a6ce39;
}

/****************header css end*****************/

/****************home main css start***************/
.form-bg{
    background: url('../img/home/video-section.png')no-repeat right top;
    background-size: 93% 86%;
    padding-top: 4rem;
    padding-bottom:9rem;
}
.start-form{
    margin:0 4.5rem 0 6rem;
}
.btn-box-shadow{
   box-shadow:0 0 14px rgba(0,0,0,0.05), 0 6px 4px rgba(0,0,0,0.02);
}
.pt-6 {
    padding-top: 4rem;
}
.ls-1{
    letter-spacing: 1px;
}
.home-page .option.or-text:before,
.home-page  .option.or-text:after{
    background-color:#e9e9e9;
}
.section-3{
    background: url(../img/home/bg.png)no-repeat center top;
    background-size: 100% 100%;
    padding-top: 10rem;
    padding-bottom: 11rem;
}
.about-img{
    max-width: 60%;
    margin:0 auto;
}
.video-block{
    background: url(../img/home/video-section.png)no-repeat center center;
    background-size: 69% auto;
    z-index: 1;
    display: block;
    position: absolute;
    right: 0;
    top: 2rem;
    height: 26rem;
}
.video-carousel{
  top: 4rem;
}
.video-inner-block img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    max-width: 20rem;
}
.video-inner-block iframe{
    z-index: 1;
    position: relative;
}
.section-6 .card-header{
    padding: 0;
    border:0;
}
.section-5 .card{
    max-width: 80%;
    margin: 0 auto;
    border-radius: 8rem;
}
.section-6.show{
     box-shadow:0 0 14px rgba(0,0,0,0.05), 0 6px 4px rgba(0,0,0,0.02);
}
.section-6 .btn-link{
    color:#535353;
    text-align: left;
    padding: 1rem;
    position: relative;
}
.section-6 .btn-link[aria-expanded="true"]{
    background-color: #f6f6f4;
}
.section-6 .btn-link[aria-expanded="true"]:before {
    content: "";
    background: url("../img/home/add-open.png")no-repeat right center;
    background-size: 100% auto;
    display: block;
    position: absolute;
    right: 20px;
    color: #296682;
    width: 20px;
    height: 20px;
    top: 18px;
}
.section-6 .btn-link[aria-expanded="false"]:before {
    content: "";
    background: url(../img/home/add.png)no-repeat right center;
    background-size: 100% auto;
    display: block;
    position: absolute;
    right: 20px;
    color: #296682;
    width: 20px;
    height: 20px;
    top: 18px;
}
.section-6 .card{
    border:0;
}
.section-6 .card-header{
    background: #fff;
}
.list-style-none li{
    margin-bottom: 12px;
}
.list-style-none,footer ul{
    list-style: none;
    padding: 0;
}

/****************home main css end*****************/

/***************home footer css********************/
footer{
    background-color: #000000;
}
footer h4{
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
}
footer a{
    color: #fff;
    font-size: 0.75rem;
    text-transform: capitalize;
    line-height: 1.3;
    display: block;
    padding: 5px 0;
}
footer a:hover{
    color:#a6ce39;
}
.home-page p{
    color:#535353;
}
.border-radius-35{
    border-radius: 35px;
}
.home-page p.error{
    color: #af3116;
}
/****************home page responsive**************************/


@media only screen and (max-width:767px){
    .h2, h2 {
        font-size: 1.6rem;
    }
    .home-page .h2, .home-page h2 {
        font-size: 1.5rem;
        line-height: 1;
    }
    .form-bg{
        background: url('../img/home/mobil-version.png')no-repeat right top;
    }
    .section-3{
        padding-top: 2rem;
        background: url(../img/home/mobile-view.png)no-repeat center top;
        padding-bottom: 6rem;
        background-size: 100% 100%;
    }
    .owl-item img {
        max-width: 100px;
        height:auto;
        width:auto!important;
    }
    .hide-sm{
        display:none;
    }
    .section-5 .card {
        max-width: 100%;
        margin: 0 auto;
        border-radius: 2rem;
        text-align: center;
        padding: 2rem 0!important;
    }
    .section-5 strong {
        position: relative;
        display: block;
    }
     .section-5 strong img{
        display: block;
        margin:0 auto;
     }
     .section-5 strong span{
        display: block;
     }
     .section-6 .btn-link{
        padding-right: 3rem;
     }
    .section-5 .option.or-text{
        display: block;
        margin: 20px 0;
    }
    .section-5 .option.or-text:before,
    .section-5 .option.or-text:after{
        display: none;
    }
    .home-page .small-text {
        font-size: 0.9rem;
        line-height: 1.5;
    }
    .home-page ul li.small-text{
        text-align: left;
    }
    .form-bg {
        padding-top: 0;
        padding-bottom: 3rem;
        margin-top: 4rem!important;
    }
    .start-form {
        margin: 0;
    }
}




.dropzone, .dropzone * {
  box-sizing: border-box;
}
.dropzone {
  position: relative;
}
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  width: 90px;
  margin: 0.5em;
}
.dropzone .dz-preview .dz-progress {
  display: block;
  height: 15px;
  border: 1px solid #aaa;
}
.dropzone .dz-preview .dz-progress .dz-upload {
  display: block;
  height: 100%;
  width: 0;
  background: green;
}
.dropzone .dz-preview .dz-error-message {
  color: #fff;
  display: none;
}
.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
  display: block;
}
.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
  position: absolute;
  display: none;
  left: 30px;
  top: 30px;
  width: 54px;
  height: 58px;
  left: 50%;
  margin-left: -27px;
}

.loader-box {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 3px;
    font-size: 30px;
    padding: 1em;
    position: relative;
    margin-bottom: .25em;
    vertical-align: top;
    color: #a6ce39 !important;
    transition: .3s color, .3s border, .3s transform, .3s opacity;

    position: fixed;
    top: 0;
    font-size: 8rem;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background: #ffffffa3;
  }


  .loader-39 {
    position: relative;
    width: .15em;
    height: .15em;
    background-color: currentcolor;
    border-radius: 100%;
    -webkit-animation: loader-39-1 30s infinite linear;
            animation: loader-39-1 30s infinite linear;
  }
  .loader-39:before, .loader-39:after {
    content: '';
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .loader-39:before {
    width: .3em;
    height: 1em;
    -webkit-animation: loader-39-2 .8s linear infinite;
            animation: loader-39-2 .8s linear infinite;
  }
  .loader-39:after {
    width: 1em;
    height: .3em;
    -webkit-animation: loader-39-2 1.2s linear infinite;
            animation: loader-39-2 1.2s linear infinite;
  }

  @-webkit-keyframes loader-39-1 {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  @keyframes loader-39-1 {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader-39-2 {
    0% {
      box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
    }
    25% {
      box-shadow: 0.04em 0.04em 0 0.02em currentcolor;
    }
    50% {
      box-shadow: -0.04em 0.04em 0 0.02em currentcolor;
    }
    75% {
      box-shadow: -0.04em -0.04em 0 0.02em currentcolor;
    }
    100% {
      box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
    }
  }
  @keyframes loader-39-2 {
    0% {
      box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
    }
    25% {
      box-shadow: 0.04em 0.04em 0 0.02em currentcolor;
    }
    50% {
      box-shadow: -0.04em 0.04em 0 0.02em currentcolor;
    }
    75% {
      box-shadow: -0.04em -0.04em 0 0.02em currentcolor;
    }
    100% {
      box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
    }
  }

.document-select .form-control{
  padding: 0px 10px;
  height: 48px;
  z-index: 9;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.document-select .select-arrow{
  top: 7px;
  right: 10px;
}
.document-select .select-arrow .arrow-down{
  transform: scale(.7);
}

#panModal  .modal-body {
      overflow-y: scroll;
      height: 65vh;
  }

#panModal .col-xs-6{
  width: 50%;
}

.app-store{
  border-radius: 6px;
}

.banner-ul{
  background: #fff;
  color: #5e5e5e;
  display: flex;
  padding: 0;
  text-align: center;
  margin: 25px 0;
}
.banner-ul li:first-child{
    border-left: none;
}
.banner-ul li {
    display: inline-flex;
    width: 100%;
    border-left: 2px solid #256781;
    height: 2rem;
    align-items: center;
}
.banner-ul li p{
  text-align: left;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  margin: 0 0 0 -30px;
}
.banner-ul li >.price{
  color: #256781;
  font-size: 35px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.banner-ul li >.price span{
  font-size: 20px;
  margin: -10px 3px 0;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
  width: 45%;
  padding: 0 20px;
  height: 29px;
  background: #fff;
  margin: 0 4px;
}

.toast-success{background-color:#51A351 !important}
.toast-error{background-color:#BD362F !important}
.toast-info{background-color:#2F96B4 !important}
.toast-warning{background-color:#F89406 !important}


/* owl carousel */
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
  position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
}

.owl-carousel .owl-nav .owl-prev{
  flex-direction: row-reverse;
}

.owl-carousel .owl-nav .owl-next svg, .owl-carousel .owl-nav .owl-prev svg{
  background: #fff;
  box-shadow: 0 3px 7px 1px #d8d6d6;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 6px 5px;
  z-index: 1;
  fill: #a6ce3a;
}

.owl-carousel .owl-nav .owl-next svg:hover, .owl-carousel .owl-nav .owl-prev svg:hover{
  fill: #fff;
  background: #a6ce3a;
}

.feature .image img{
  padding: 0 15px;
  width: 50%;
}

.feature-count{
  font-size: 3.5rem;
  font-weight: 300;
}
