<!---------------------exit intent popup html--------------------->
    <div id="ddexitpop1" class="ddexitpop">
       <div class="container text-center py-4 content">
        <div class="row">
            <div class="py-4 col-12">
                <img style="max-width:200px;" class="m-auto img-fluid" 
                    src="img/exit-intent.png" alt="img">
                <h2 class="text-capitalize font-weight-bold">
                    Exit intent 
                    <span class="text-primary">lorem ipsum</span>
                </h2>
                <p class="font-size-16 mb-4 font-weight-bold">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                     veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                      ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
    <a class="calltoaction border border-light intent-popup-close-btn" href="#" 
        onClick="ddexitpop.hidepopup()">
        X</a>

    </div>